<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.chat.bridge.business.repository.mapper.StarMapper">

    <select id="findPage" resultType="com.cn.chat.bridge.business.repository.entity.Star">
        SELECT * FROM `tb_star` s
        WHERE s.user_id = #{userId}
        ORDER BY
        s.${request.sortProp}
        <if test="!request.isAsc()">
            DESC
        </if>
    </select>

</mapper>
