<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.chat.bridge.auth.repository.mapper.UserMapper">

    <select id="findPage" resultType="com.cn.chat.bridge.auth.repository.entity.User">
        SELECT * FROM `tb_user` u
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="null != request.search and '' != request.search">
                <bind name="search" value="'%' + request.search + '%'" />
                AND (u.user_name LIKE #{search} OR u.open_id LIKE #{search})
            </if>
        </trim>
        ORDER BY
        u.${request.sortProp}
        <if test="!request.isAsc()">
            DESC
        </if>
    </select>

</mapper>
